*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body{
  background-color: #f5e4d6;
}

#pict{
  margin-top: 20px;
  margin-left: 100px;
}

.row{
  background-color: fad2f4;
}

.webamigo{
    float: left;
    margin-left: 100px;
}
.listitem{
    float: right;
    margin-right: 100px;
}
.start{
    border-radius: 15px;
    color: white;
    text-decoration-color: black;
    background-color:#a60422;
}
.para1{
    float: left;
    margin-left: 200px;

}
.image1{
    float: right;
    margin-right: 200px;
}
.hrtag{
    margin-left: 870px;
    margin-right: 500px;
    width: 100px;
    height: 200px;
    color: teal;
}
.smallnav{
    text-align: center;
    float: right;
    margin-right: 810px;
}
.gallery .gallery-filter{
    padding: 0 15px;
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
    }
    .gallery .gallery-filter .filter-item{
    color: black;
    border: 2px solid #fad2f4;
    display: inline-block;
    border-radius: 20px;
    margin-right: 8px;
    cursor: pointer;
    padding: 8px 20px 8px 20px;
    }
    .gallery .gallery-filter .filter-item.active{
    color: black;
    border-color : #fad2f4;
    background: #fad2f4;
    }
    .gallery .gallery-item{
    width: calc(100% / 3);
    padding: 15px;
    }
    .gallery .gallery-item-inner img{
    width: 100%;
    border: 3px solid #fad2f4;
    }
    

  .grid-container {
    display: grid;
    justify-content: center;
    grid-template-columns: 320px 320px 320px 320px; /*Make the grid smaller than the container*/
    gap: 10px;
    background-color: #fad2f4;
    padding: 10px;
  }
  
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }
  .grid-containers {
    display: grid;
    justify-content: center;
    grid-template-columns: 210px 210px 210px 210px 210px 210px; /*Make the grid smaller than the container*/
    gap: 10px;
    background-color: #fad2f4;
    padding: 10px;
  }
  
  .grid-containers > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }
  .buttons{
    text-align: center;
  }
  .grid-containerrs {
    display: grid;
    justify-content: center;
    grid: 350px / 1800px;
    grid-gap: 10px;
    background-color: #fad2f4;
    padding: 10px;
    font-size: 10px;
  }
  
  .grid-containerrs > div {
    background-color: #fad2f4;
    text-align: center;
    padding: 20px 0;
    font-size: 10px;
  }
  .fa {
    padding: 20px;
    font-size: 40px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 8px 2px;
    border-radius: 50%;
  }
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .fsec1{
    float: left;
    margin-left: 100px;
   
    
    margin-right: 500px;
  }
  .fsec2{
    float: right;
    margin-right: 100px;
    
    margin-left: 500px;
    
  }
  .gets{
    color: black;
    border: 15px;
    border-radius: 15px;
    background-color: #a60422;
    font-size:x-large;
  }
  
  .box{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;

  }
  .store-item{
    width: 300px;
    padding: 1rem;
  }
   
  .store-item img{
    width: 100%;
    display: block;
    box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.2);
  }

 

body{
    background-color: #fad2f4;
    padding: 1rem;

    /* start image filter */
}
.box{
    height: 8rem;
    border: 5px solid white;
    border-radius: 4px;
    overflow: hidden;
}
.box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
    transform-origin: top;
}

.box img:hover{
    transform: scale(1.5);
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    gap: 1rem;
}
.control{
    max-width: 1200px;
    height: 100px;
    margin: 0 auto;
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-group button{
    width: 100px;
    height: 30px;
    border: none;
    font-size: 1rem;
    background-color: #923865;
    color: #fff;
    border: 2px solid #923865;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 3px;
}

.btn-group button:hover,
.btn-group .btn-clicked
{
    background-color: #353b48;
}
#search{
    width: 200px;
    height: 30px;
    outline: none;
    border: 2px solid #00b894;
    border-radius: 3px;
    padding: 0px 10px;
    font-size: 0.8rem;
}
    
/* end image filter */
/* start carousel */
.carousel{
  width: 400px;
  height: 221px;
  background-position: center;
  background-size: cover;
  background-image: url(images/cake04.jpeg);
}

.fade{
  -webkit-animation: 1.5s fade;
  animation: 1.5s fade;
}

@-webkit-keyframes fade{
  from{opacity: 0.4;}
  to{opacity: 1}
  
}
@keyframes fade{
  from{opacity: 0.4}
  to{opacity: 1}
}
    /* end carousel */
    
    /* add loader */
    
    #loader {
      position: absolute;
      left: 50%;
      top: 50%;
      z-index: 1;
      width: 120px;
      height: 120px;
      margin: -76px 0 0 -76px;
      border: 16px solid #f3f3f3;
      border-radius: 50%;
      border-top: 16px solid #3498db;
      -webkit-animation: spin 2s linear infinite;
      animation: spin 2s linear infinite;
    }
    
    @-webkit-keyframes spin {
      0% { -webkit-transform: rotate(0deg); }
      100% { -webkit-transform: rotate(360deg); }
    }
    
    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
    
    /* Add animation to "page content" */
    .animate-bottom {
      position: relative;
      -webkit-animation-name: animatebottom;
      -webkit-animation-duration: 1s;
      animation-name: animatebottom;
      animation-duration: 1s
    }
    
    @-webkit-keyframes animatebottom {
      from { bottom:-100px; opacity:0 } 
      to { bottom:0px; opacity:1 }
    }
    
    @keyframes animatebottom { 
      from{ bottom:-100px; opacity:0 } 
      to{ bottom:0; opacity:1 }
    }
    
    #myDiv {
      display: none;
      text-align: center;
    }
    
    
      /* end loader */

      /* start navigation bar */

      *{
        padding: 0;
        margin: 0;
        text-decoration: none;
        list-style: none;
    }
    body{
        font-family: sans-serif;
    
    }
    
    nav{
        height: 80px;
        width: 100%;
        background: #34495e;
    
    }
    
    label.logo{
        font-size: 35px;
        font-weight: bold;
        color: white;
        padding: 0 100px;
        line-height: 80px;
    }
    nav ul{
        float:right;
        margin-right: 40px;
    
    }
    nav li{
        display: inline-block;
        margin: 0 8px;
        line-height: 80px;
    }
    nav a{
        color: white;
        font-size: 18px;
        text-transform: uppercase;
        border: 1px solid transparent;
        padding: 7px 10px;
        border-radius: 3px;
    }
    
    a.active, a:hover{
        border: 1px solid white;
        transition: .5s;
    }
    nav #icon{
        color: white;
        font-size: 30px;
        line-height: 80px;
        float: right;
        margin-right: 40px;
        margin-right: 40px;
        cursor: pointer;
    }
    
    @media (max-width: 1048px){
        label.logo{
            font-size: 32px;
            padding-left: 60px;
        }
        nav a{
            font-size: 17px;
        }
    }
    @media (max-width: 909px){
        nav #icon{
            display: block;
        }
        nav ul{
            position: fixed;
            width: 100%;
            height: 100vh;
            background: #2f3640;
            top: 80px;
            left: -100%;
            text-align: center;
            transition: all,.5s;
        }
        nav li{
            display: block;
            margin: 50px 0;
            line-height: 30px;
        }
        nav a{
            font-size: 20px;
        }
        a.active,a.hover{
            border: none;
            color: #9de8f8;
    
        }
        nav ul.show{
            left: 0;
        }
    }
    
    .dropbtn {
        background-color: #34495e;
        color: white;
        padding: 0px;
        font-size: 20px;
        border: none;
        cursor: pointer;
      }
      
      .dropdown {
        position: relative;
        display: inline-block;
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #34495e;
        min-width: 60px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
      
      .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
      
      .dropdown-content a:hover {background-color: #f1f1f1}
      
      .dropdown:hover .dropdown-content {
        display: block;
      }
      
      .dropdown:hover .dropbtn {
        background-color: #3e8e41;
      }

      /* end navigation bar */
      